api/config/firebase-service-account.json
api/config/firebase.json
client/config/firebase.json

./idea
.idea/misc.xml
.idea/caches/deviceStreaming.xml
.vscode/settings.json
node_modules
/.firebase/hosting.YXBpXGRpc3Q.cache
/api/.firebase/hosting.ZGlzdA.cache
.firebase
